html{
  margin:0;
  padding:0;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  padding:0;
  font-family: Roboto, sans-serif;
  height: 100vh;
  color: #1f1f1f;
}
article {
  margin: 1em auto;
  padding:0 1em;
}
body a {
  color:#000;
}
body a:hover {
  text-decoration:none;
}
body p, body li{
  line-height: 1.5em;
  /*padding: .5em 0;*/
}
header.home {
    background:url(images/home_abaltzisketa_aralar_1800.jpg) no-repeat center #000;
    height: 400px;
  }
main {
    max-width: 900px;
    margin: 0 auto;
}
footer {
    background-color: #000;
    margin-top: 4em;
    float: left;
    width: 100%;
    /*padding: 1em;*/
}

footer a{
  color: #fff;
}
.pie-logo img {
  padding: 1em;
}
.pie-logo {
  width: 20%;
  float: left;
}
.enlaces {
  width: 80%;
  float: right;
}
ul.contacto, ul.apartados  {
  width: 40%;
  float: left;
  padding-left: 0em;
  margin-left: 1em;
  list-style:none;
}
.pie-animacion {
  height: 40px;
  text-align: center;
  position: relative;
  top: 25px;
}
.cabecera {
  /*background-color:#000;*/
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 43%, rgba(0,0,0,0.6) 46%, rgba(0,0,0,0) 100%);
  height: 80px;
  padding: 1em 2em;
}
.cabecera h1, .cabecera p {
    color:#FFF;
    float: left;
    width: auto;
    font-size:2.8em;
    font-weight: 300;
    margin-top:0.2em;
    padding:0;
    line-height: 1em;
}
.cabecera span{
  position:absolute;
  top:60px;
  text-shadow: 1px 1px 10px #000;
}
section.intro {
  width: 80%;
  margin: 0 auto;
  background-color: #000;
  opacity: 80%;
  color: #FFF;
  /*position: relative;*/
  /*top: 30%;*/
  margin-top:6em;
  padding: .5em 1em;
  font-size: 1.2em;
  line-height: 1.5em;
  font-style:italic;
}
nav.menu {
  float: right;
}
nav ul {
  display:flex;
  margin-top:0;
}
nav ul li {
  padding: .5em 1.3em;
  list-style: none;
  color: #FFF;
  margin-top: .5em;
  line-height: 1em;
}
nav li a{
  text-decoration:none;
  color:#FFF;
  font-size:1.2em;
}
nav li a:hover{
  border-bottom: 4px solid;
padding-bottom: .5em;
}
nav li.activo {
  border-bottom: 4px solid;
  font-size: 1.2em;
  margin-top: 0.4em;
}
section.destacados div {
  text-align: center;
  padding: 1em 2em;
}
.destacados h2 {
  font-size: 2em;
  font-weight: 300;
}
.destacados img {
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 97% 77%, 93% 92%, 91% 84%, 86% 99%, 0 100%);
}
.btn{
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  padding: 0.6em 1em;
  border-radius: 4px;
  /*text-transform: uppercase;*/
}
a.btn:hover {
  background-color: #555151;
  color: #FFF;
}
/*.destacados img {
  max-width: 100%;
}*/
/* Categorias */
h1.titular {
  font-size: 2.4em;
  font-weight: 300;
  margin:0 0 .5em 0;
}
.ruta a {
  color: inherit;
}
.col-25{
  width:25%;
  float:left;
}
.col-50 {
  width: 50%;
  float: left;
}
.col-75{
  width:75%;
  float:left;
}
.ruta img {
  width: 100%;
}
.ruta {
  padding: .5em;
  border: 1px solid #d1cdcd;
  /*display: flex;*/
  box-shadow: #d1cdcd 0 2px 2px;
  border-radius: 4px;
  margin: 1.5em 0;
  float:left;
  width: 95%;
}
.ruta h2{
  font-weight: 400;
}
.mas_rutas{
  text-align: center;
  margin:1em 0;
}
.text h2, .text p {
  margin-left: 0.5em;
}
/*Contenidos */
article {
  min-height: 20em;
}
p.nav {
  padding: 0;
  font-size:1.2em;
  margin:0;
}
.nav a {
color: inherit;
padding-left:.5em;
}
.nav::before{
  content:"<";
}

.datos {
  background: url('images/info_icon.svg') no-repeat #e7e2e2 right 0;;
  border-radius: 4px;
  /*height: 300px;*/
}
.datos dl {
  padding: 0 1em;
}
.datos dt {
  font-weight: 600;
  font-size: 1.1em;
}
.datos dd {
  margin: 0.2em 0 0.5em;
}
.descargas, .relacionadas {
  float: left;
  width: 100%;
  padding: 1em 0;
}
.descargas li {
  list-style: none;
  display: inline;
}
.descargas ul {
  padding-left: 0.5em;
}
.relacionadas a{
  color:inherit;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

button#button-menu {
  background-color: #000;
  color:#FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1em 0.5em 1em 2.8em;
  float: right;
  margin-top: 0.5em;
  background: url(images/icon_menu.png) no-repeat #000 5px 10px;
  display:none;
}
nav.show{
  display:block;
}

@media (max-width:1024px){
  nav{
    display:none;
  }
  button#button-menu {
  display:block;
  }
nav.menu {
  z-index: 1;
  background-color: #000;
  margin-bottom: 2em;
  position: absolute;
  top: 65px;
  right: 0;
}
  nav ul li{
  float:left;
  width:100%;
}
nav ul {
display:inline-block;
padding-left:0;
}
nav li.activo {
  border: 0;
  font-style: oblique;
}  
  .datos{
    margin-top:1em;
  }
}
@media (max-width:799px){
  .col-25, .col-50, .col-75{
    width: 100%;
  }
  header.home {
    background:url(images/home_abaltzisketa_aralar_800.jpg) no-repeat center #000;
    height: 400px;
  }
  .enlaces {
    width: 100%;
  }
  footer {
    width:auto;
  }
.cabecera h1, .cabecera p{
  font-size:1.5em;
}
.cabecera img {
  width: 50%;
}
section.intro {
  font-size:1em;
}

}
